html, body {
  margin: 0;
  padding: 0;
  background: black;
  height: 100%;
  width: 100%;
  font-family: Orbition, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}


.canvasRef {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: block;
} 
.content {
  position: relative;
  color: white;
  text-align: center;
  padding: 1rem;
}

h2 {
  text-align: center;
 color: green;
}


li {
  list-style: none;
  text-align: center;
}

p .nav-link {
  text-decoration: none;
}

/* header */
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li p {
  display: block;
  padding: 6px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li p:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .nav-menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .nav-menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.logo {
  
  font-size: 1.5rem;
  font-weight: bold;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #101010;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    overflow: hidden;
  }
  
  .header li p {
    display: block;
    border-right: 1px #f4f4f4;
    text-decoration: none;
  }
  
  .header li p:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skills img {
    border-radius: 18px;
  }
}